</!DOCTYPE html>
<html>
<head>
	<title>Voting Rights</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div class="row outer">
		<div class="col-md-offset-2">
			<button type="button" class="btn btn-larger btn-success" onclick="voting()" id="btn-vote">
				<audio id="voting" src="audio/voting-rights.mp3"></audio>
				I, David Rector, want my voting rights restored immediately.
			</button>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</html>